h1 {
    color: saddlebrown;
    background-color: blueviolet;
    font-size: 50px;
    font-weight: 1000px;
    font-family: "Bitcount Prop Single", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: normal;
}