h1{
    color: saddlebrown;
    background-color: blueviolet;
    font-size: 50px;
    font-weight: 1000px;
    font-family: "Bitcount Prop Single", system-ui, , sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0;
  } */
    text-align: center;
    text-decoration: overline;
/* 
h1{
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0;
  } */